{% set currentUrl = absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|default([]))) %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="noodp">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-title" content="{{ toro_seo.title }}">

<title>{{ toro_seo.title }}</title>
<meta name="description" content="{{ toro_seo.description }}">
<meta name="keywords" content="{{ toro_seo.keywords }}">

<meta property="og:title" content="{{ toro_seo.title }}">
<meta property="og:description" content="{{ toro_seo.description }}">
<meta property="og:locale" content="{{ cx_locale.localeCode }}">
<meta property="og:site_name" content="{{ options.branding|default }}">
<meta property="og:url" content="{{ options.url|default(currentUrl) }}">
<meta property="og:image" content="{{ toro_seo.image_url }}">

<link rel="canonical" href="{{ options.canonical|default(currentUrl) }}" />

<meta name="twitter:card" content="{{ options.twitter_card|default('summary') }}">
<meta name="twitter:title" content="{{ toro_seo.title }}">
<meta name="twitter:description" content="{{ toro_seo.description }}">
<meta name="twitter:domain" content="{{ options.branding|default }}">
<meta name="twitter:image" content="{{ toro_seo.image_url }}">
